- id: "sample-rule:protected"
  match:
    url: "http://localhost:8080/<.*>"
    methods:
      - GET
      - POST
  authenticators:
    - handler: cookie_session
  mutators:
    - handler: header
  authorizer:
    handler: allow
  errors:
    - handler: redirect
      config:
        to: {{ kratos_login_url | d("http://default-kratos-url/self-service/login/browser", true) }}?return_to={{ return_to }}
