- id: "oathkeeper-api44:allow"
  match:
    url: "<https|http>://10.64.140.44/test-bundle-oathkeeper/<.*>"
    methods:
      - GET
      - POST
  authenticators:
    - handler: noop
  mutators:
    - handler: noop
  authorizer:
    handler: allow
  errors:
    - handler: json
- id: "oathkeeper-api43:allow"
  match:
    url: "<https|http>://10.64.140.43/test-bundle-oathkeeper/<.*>"
    methods:
      - GET
      - POST
  authenticators:
    - handler: noop
  mutators:
    - handler: noop
  authorizer:
    handler: allow
  errors:
    - handler: json
- id: "zinc-k8s:protected"
  match:
    url: "<https|http>://10.64.140.44/test-bundle-zinc-k8s/<.*>"
    methods:
      - GET
      - POST
  authenticators:
    - handler: cookie_session
  mutators:
    - handler: header
  authorizer:
    handler: allow
  errors:
    - handler: redirect
      config:
        to: https://10.64.140.44/test-bundle-kratos/self-service/login/browser
        return_to_query_param: return_to
- id: "zinc-k8s-other-address:protected"
  match:
    url: "<https|http>://10.64.140.43/test-bundle-zinc-k8s/<.*>"
    methods:
      - GET
      - POST
  authenticators:
    - handler: cookie_session
  mutators:
    - handler: header
  authorizer:
    handler: allow
  errors:
    - handler: redirect
      config:
        to: https://10.64.140.43/test-bundle-kratos/self-service/login/browser
        return_to_query_param: return_to
