name: ci
run-name: CI for ${{ github.sha }} on ${{ github.ref_name }}

on:
   workflow_dispatch:
   push:
     branches:
     - "main"
     - "release-**"
     - "track/**"
     paths-ignore:
     - "terraform/**"
   pull_request:
     branches:
     - "*"
     paths-ignore:
     - "terraform/**"

jobs:
  tests:
    name: CI
    uses: canonical/identity-team/.github/workflows/charm-pull-request.yaml@7ec3565943646a4abe70497e354edac4357349a8 # v1.9.3
    with:
      container-name: "oathkeeper"
      charm-config-path: "/etc/config/oathkeeper/oathkeeper.yaml"
      use-charmcraftcache: true
      node-size: large
