name: ci
run-name: CI for ${{ github.sha }} on ${{ github.ref_name }}

on:
   workflow_dispatch:
   push:
     branches:
     - "main"
     - "release-**"
     - "track/**"
     paths-ignore:
     - "terraform/**"
   pull_request:
     branches:
     - "*"
     paths-ignore:
     - "terraform/**"

jobs:
  tests:
    name: CI
    uses: canonical/identity-team/.github/workflows/charm-pull-request.yaml@f858d2dce01066546803a4279c3525f053ca7d0f # v1.9.2
    with:
      container-name: "oathkeeper"
      charm-config-path: "/etc/config/oathkeeper/oathkeeper.yaml"
      use-charmcraftcache: true
      node-size: large
